/*
background-color: rgba(0, 255, 255, 0.3 );
*/
/*-----------------------DEKSTOP------------------------*/
/*reset de css || elimina los estilos por defecto de los navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1300px; */
  margin: 1%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

main {
  flex-grow: 1;
}

h1, h2, h3 {
  font-family: "Sour Gummy", serif;
}

h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

.navegador_y_logo {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(to left, rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.05));
}
.navegador_y_logo .nav-itemInicio {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemInicio:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemNosotros {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemNosotros:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemProductos {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemProductos:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemServicios {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemServicios:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemEventosYCapacitaciones {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemEventosYCapacitaciones:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemEventosYCapacitaciones:hover {
  transform: scale(1.15, 1.15);
}
.navegador_y_logo .nav-itemContacto {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemContacto:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}
.navegador_y_logo .nav-itemCarrito {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  color: auto;
  margin-left: 10px;
  transform: scale(1, 1);
  transition: color 0.2s ease, text-decoration 0.2s ease, transform 0.2s ease;
}
.navegador_y_logo .nav-itemCarrito:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.2, 1.2);
}

footer {
  width: 100%;
}
footer .footer {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 255, 255, 0.5);
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex-flow: row nowrap; */
  align-items: center; /*VERTICAL */
  justify-content: center; /*horisontal*/
  text-align: center;
}
footer .footer .footer_1 {
  width: 40%;
}
footer .footer .footer_1 p {
  text-align: center;
}
footer .footer .footer_2 {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* MINI GALERIA DE IMG*/
.galeria_imagenes {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.2);
  margin: 20px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around; /*horisontal*/
  align-items: center; /*vertical*/
  padding: 20px 0;
}

.galeria_titulo_y_boton {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.2);
  margin: 20px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around; /*horisontal*/
  align-items: center; /*vertical*/
  padding: 20px 0;
}

.mainIndex {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mainIndex .imgYPrecentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.mainIndex .imgYPrecentacion .precentacion_home h2 {
  text-align: center;
}
.mainIndex .imgYPrecentacion .precentacion_home p {
  text-align: left;
}

.mainNosotros {
  position: relative;
  overflow: hidden;
}
.mainNosotros .contenedor-grid-nosotros {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 350px 400px 300px 400px 500px 400px 500px;
  grid-template-areas: "tituloDescripcion tituloDescripcion tituloDescripcion" "fotoNosotros1 textoNosotros1 textoNosotros1" "fotoNosotros1 fotoNosotros2 fotoNosotros2" "textoNosotros2 fotoNosotros3 textoNosotros3" "fotoNosotros4 fotoNosotros4 textoNosotros4" "fotoNosotros5 textoNosotros5 fotoNosotros6" "textoNosotros6 fotoNosotros7 fotoNosotros7";
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.mainNosotros .contenedor-grid-nosotros img {
  width: 80%;
  height: 80%;
}
.mainNosotros .contenedor-grid-nosotros .grid-titulo-y-descripcion-nosotros {
  grid-area: tituloDescripcion;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-1 {
  grid-area: textoNosotros1;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-2 {
  grid-area: textoNosotros2;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-3 {
  grid-area: textoNosotros3;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-4 {
  grid-area: textoNosotros4;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-5 {
  grid-area: textoNosotros5;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-texto-nosotros-6 {
  grid-area: textoNosotros6;
  text-align: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-1 {
  grid-area: fotoNosotros1;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-2 {
  grid-area: fotoNosotros2;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-3 {
  grid-area: fotoNosotros3;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-4 {
  grid-area: fotoNosotros4;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-5 {
  grid-area: fotoNosotros5;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-6 {
  grid-area: fotoNosotros6;
  justify-self: center;
  align-self: center;
}
.mainNosotros .contenedor-grid-nosotros .grid-imagen-nosotros-7 {
  grid-area: fotoNosotros7;
  justify-self: center;
  align-self: center;
}

.mainProductos #sectionProductos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
}
.mainProductos #sectionProductos .card {
  width: 30%;
}

.mainServicios {
  position: relative;
  overflow: hidden;
}
.mainServicios .contenedor-grid-servicios {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: 300px repeat(3, 300px);
  grid-template-areas: "tituloYDescripcion tituloYDescripcion" "servicio1Descripcion servicio1Foto" "servicio2Descripcion servicio2Foto" "servicio3Descripcion servicio3Foto";
  justify-content: center;
  /*acomoda a todos los hijos*/
  align-items: center; /*centra de forma vertical*/
  justify-items: center; /*centra de forma horizontal*/
}
.mainServicios .contenedor-grid-servicios .tituloYDescripcionServicios {
  grid-area: tituloYDescripcion;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
  text-align: center;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_1 {
  grid-area: servicio1Descripcion;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
  text-align: center;
  background-color: white;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_1:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainServicios .contenedor-grid-servicios .grid_img_servicio_1 {
  grid-area: servicio1Foto;
  width: 50%;
  max-width: 500px;
  max-height: 375px;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_2 {
  grid-area: servicio2Descripcion;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
  text-align: center;
  background-color: white;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_2:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainServicios .contenedor-grid-servicios .grid_img_servicio_2 {
  grid-area: servicio2Foto;
  width: 50%;
  max-width: 500px;
  max-height: 375px;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_3 {
  grid-area: servicio3Descripcion;
  display: flex;
  flex-direction: column;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
  text-align: center;
  background-color: white;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainServicios .contenedor-grid-servicios .gridDescripcionYTituloServicio_3:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainServicios .contenedor-grid-servicios .grid_img_servicio_3 {
  grid-area: servicio3Foto;
  width: 50%;
  max-width: 500px;
  max-height: 375px;
}

.mainEventosYCapacitaciones {
  position: relative;
  overflow: hidden;
}
.mainEventosYCapacitaciones .padreEventos img {
  width: 100%;
  max-width: 500px;
  max-height: 375px;
}
.mainEventosYCapacitaciones .padreEventos .evento1 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreEventos .evento1:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainEventosYCapacitaciones .padreEventos .evento2 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreEventos .evento2:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainEventosYCapacitaciones .padreEventos .evento3 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreEventos .evento3:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainEventosYCapacitaciones .padreCapacitaciones img {
  width: 100%;
  max-width: 500px;
  max-height: 375px;
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion1 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion1:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion2 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion2:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion3 {
  background-color: white;
  margin: 40px 0px;
  transform: scale(1, 1);
  transition: background-color 1s ease, transform 1s ease;
}
.mainEventosYCapacitaciones .padreCapacitaciones .capacitacion3:hover {
  background-color: rgb(255, 97, 255);
  transform: scale(1.1, 1.1);
}

.mainContacto div {
  text-align: center;
}
.mainContacto p {
  text-align: center;
}
.mainContacto .formulario {
  margin: 0px 40px;
}
.mainContacto .boton-color {
  background-color: rgba(0, 255, 255, 0.3);
}

.mainCarrito #sectionCarrito {
  width: 100%;
}
.mainCarrito #sectionCarrito .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; /*horisontal*/
  align-items: center; /*vertical*/
  width: 100%;
}
.mainCarrito #sectionTotales {
  height: 100px;
}
.mainCarrito #eliminarCarrito {
  height: 100px;
}
.mainCarrito #confirmarCompra {
  height: 100px;
}

.mainConfirmarCompra #sectionProductos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /*horisontal*/
  align-items: center; /*vertical*/
}
.mainConfirmarCompra #sectionProductos .card {
  width: 30%;
}
.mainConfirmarCompra #buttonConfirmarCompra {
  background-color: rgba(0, 255, 255, 0.5);
  border-color: black;
}

/*----------------MEDIA QUERY tablet hasta 1000px-----------------*/
@media (max-width: 1000px) {
  .navegador_y_logo {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .navegador_y_logo ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  body {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .galeria_imagenes {
    width: 100%;
    max-width: 1000px;
    background-color: rgba(0, 0, 255, 0.2);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around; /*horisontal*/
    align-items: center; /*vertical*/
  }
  .galeria_imagenes .galeria_imagenes_item {
    max-width: 23%;
    max-height: 23%;
  }
  .galeria_imagenes .galeria_imagenes_item img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 1000px) {
  footer {
    width: 100%;
    max-width: 1000px;
  }
  footer .footer {
    background-color: rgba(0, 255, 255, 0.5);
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    align-items: center; /*VERTICAL */
    justify-content: center; /*horisontal*/
    text-align: center;
    margin-top: 20px;
  }
  footer .footer .footer_1 {
    width: 40%;
  }
  footer .footer .footer_1 p {
    text-align: center;
  }
  footer .footer .footer_2 {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (max-width: 1000px) {
  .mainIndex {
    width: 100%;
    max-width: 1000px;
  }
  .mainIndex #img_home {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .mainNosotros {
    width: 99%;
    max-width: 1000px;
  }
  .mainNosotros .contenedor-grid-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px;
    grid-template-areas: "tituloDescripcion tituloDescripcion" "fotoNosotros1 textoNosotros1" "textoNosotros2 fotoNosotros2" "fotoNosotros3 textoNosotros3" "textoNosotros4 fotoNosotros4" "fotoNosotros5 textoNosotros5" "textoNosotros6 fotoNosotros6";
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .mainNosotros .contenedor-grid-nosotros .contenedor-grid-nosotros img {
    width: 80%;
    height: 80%;
  }
  .mainNosotros .contenedor-grid-nosotros #grid-imagen-nosotros-7 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .mainProductos {
    width: 100%;
    max-width: 1000px;
  }
  .mainProductos .contenedorMainProductos {
    display: flex;
    flex-direction: column;
  }
  .mainProductos .contenedorMainProductos .sectionExplicacionProductos {
    text-align: center;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos {
    margin-top: -100px;
    margin: 20px 0px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-top: none;
    justify-content: start;
    height: 900px;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_carousel {
    width: 80%;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_Descripcion {
    width: 100%;
    margin: 10px 0px;
  }
}
@media (max-width: 1000px) {
  .mainServicios {
    width: 100%;
    max-width: 1000px;
  }
  .mainServicios .contenedor-grid-servicios {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 500px 400px 450px 450px 400px 350px 450px;
    grid-template-areas: "tituloYDescripcion " "servicio1Foto" "servicio1Descripcion" "servicio2Foto" "servicio2Descripcion" "servicio3Foto" "servicio3Descripcion";
    justify-content: center;
    /*acomoda a todos los hijos*/
    align-items: center; /*centra de forma vertical*/
    justify-items: center; /*centra de forma horizontal*/
    margin-top: 20px;
  }
  .mainServicios .contenedor-grid-servicios img {
    width: 90%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_1 {
    width: 80%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_2 {
    width: 80%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_3 {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .mainEventosYCapacitaciones {
    width: 100%;
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .mainContacto {
    width: 100%;
    max-width: 1000px;
  }
}
/*----------------MEDIA QUERY mobile hasta 600px-----------------*/
@media (max-width: 600px) {
  .navegador_y_logo {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .navegador_y_logo ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  body {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .galeria_imagenes {
    width: 100%;
    max-width: 600px;
    background-color: rgba(0, 0, 255, 0.2);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around; /*horisontal*/
    align-items: center; /*vertical*/
  }
  .galeria_imagenes .galeria_imagenes_item {
    max-width: 23%;
    max-height: 23%;
  }
  .galeria_imagenes .galeria_imagenes_item img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 600px) {
  footer {
    width: 100%;
    max-width: 600px;
  }
  footer .footer {
    background-color: rgba(0, 255, 255, 0.5);
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    align-items: center; /*VERTICAL */
    justify-content: center; /*horisontal*/
    text-align: center;
    margin-top: 20px;
  }
  footer .footer .footer_1 {
    width: 40%;
  }
  footer .footer .footer_1 p {
    text-align: center;
  }
  footer .footer .footer_2 {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (max-width: 600px) {
  #img_home {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .mainNosotros {
    width: 100%;
    max-width: 600px;
  }
  .mainNosotros .contenedor-grid-nosotros {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 800px 450px 550px 450px 400px 450px 350px 450px 350px 450px 350px 450px 300px;
    grid-template-areas: "tituloDescripcion" "fotoNosotros1" "textoNosotros1" "fotoNosotros2" "textoNosotros2" "fotoNosotros3" "textoNosotros3" "fotoNosotros4" "textoNosotros4" "fotoNosotros5" "textoNosotros5" "fotoNosotros6" "textoNosotros6";
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .mainNosotros .contenedor-grid-nosotros .contenedor-grid-nosotros img {
    width: 80%;
    height: 80%;
  }
  .mainNosotros .contenedor-grid-nosotros #grid-imagen-nosotros-7 {
    display: none;
  }
}
@media (max-width: 600px) {
  .mainProductos {
    width: 100%;
    max-width: 600px;
  }
  .mainProductos .contenedorMainProductos {
    display: flex;
    flex-direction: column;
  }
  .mainProductos .contenedorMainProductos .sectionExplicacionProductos {
    text-align: center;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos {
    margin-top: -100px;
    margin: 20px 0px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-top: none;
    justify-content: start;
    height: 1200px;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_carousel {
    width: 80%;
  }
  .mainProductos .contenedorMainProductos .seccionImagenYDescripcionProductos .seccionImagenYDescripcionProductos_Descripcion {
    width: 100%;
    margin: 10px 0px;
  }
}
@media (max-width: 600px) {
  .mainServicios {
    width: 100%;
    max-width: 600px;
  }
  .mainServicios .contenedor-grid-servicios {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 500px 400px 450px 450px 400px 350px 500px;
    grid-template-areas: "tituloYDescripcion " "servicio1Foto" "servicio1Descripcion" "servicio2Foto" "servicio2Descripcion" "servicio3Foto" "servicio3Descripcion";
    justify-content: center;
    /*acomoda a todos los hijos*/
    align-items: center; /*centra de forma vertical*/
    justify-items: center; /*centra de forma horizontal*/
    margin-top: 20px;
  }
  .mainServicios .contenedor-grid-servicios img {
    width: 90%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_1 {
    width: 80%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_2 {
    width: 80%;
  }
  .mainServicios .contenedor-grid-servicios .grid_img_servicio_3 {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .mainEventosYCapacitaciones {
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .mainContacto {
    width: 100%;
    max-width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
