

@media( max-width: $widtTablet ){


    
    .navegador_y_logo{


        width: 100%;
        max-width: $widtTablet;


        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }



    }

}