
//PARA LA PAJINA DE SERVICIOS PENSADA PARA TRABAJAR CON GRID

@mixin mixinDescripcionYTituloServicios{
    display: flex;
    flex-direction: column;

    justify-content: center;/*horisontal*/
    align-items: center;/*vertical*/
    text-align: center;

    background-color: white;

    transform: scale( 1, 1 );
    transition: background-color 1.0s ease , transform 1.0s ease;
    &:hover{
        background-color: $colorSecundario;
        transform: scale( 1.1, 1.1 );
    }
}


.mainServicios{

    position: relative;
    overflow: hidden;


    .contenedor-grid-servicios{
        display: grid;
        grid-template-columns: 50% 40%;
        grid-template-rows: 300px repeat(3, 300px) ;
    
        grid-template-areas: 
        "tituloYDescripcion tituloYDescripcion"
        "servicio1Descripcion servicio1Foto"
        "servicio2Descripcion servicio2Foto"
        "servicio3Descripcion servicio3Foto";
    
        justify-content: center;
    
        
        /*acomoda a todos los hijos*/
        align-items: center;/*centra de forma vertical*/
        justify-items: center;/*centra de forma horizontal*/



        .tituloYDescripcionServicios{
            grid-area: tituloYDescripcion ;
            display: flex;
            flex-direction: column;
        
            justify-content: center;/*horisontal*/
            align-items: center;/*vertical*/
            text-align: center;
        
        }


        .gridDescripcionYTituloServicio_1{
            grid-area: servicio1Descripcion;
            @include mixinDescripcionYTituloServicios();
        }
        
        .grid_img_servicio_1{
            grid-area: servicio1Foto;
            width: 50%;
            max-width: 500px;
            max-height: 375px;
        }
        
        .gridDescripcionYTituloServicio_2{
            grid-area: servicio2Descripcion;
            @include mixinDescripcionYTituloServicios();
        }

        .grid_img_servicio_2{
            grid-area: servicio2Foto;
            width: 50%;
            max-width: 500px;
            max-height: 375px;
        }
                
        .gridDescripcionYTituloServicio_3{
            grid-area: servicio3Descripcion;
            @include mixinDescripcionYTituloServicios();
        }

        .grid_img_servicio_3{
            grid-area: servicio3Foto;
            width: 50%;
            max-width: 500px;
            max-height: 375px;
        }
        


    }

}