
@mixin itemsNav(){
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    color: auto;
    margin-left: 10px;
    transform: scale( 1, 1 );
    transition: color 0.2s ease, text-decoration 0.2s ease , transform 0.2s ease;
    
    &:hover{
        color: white;
        text-decoration: underline;
        transform: scale( 1.2, 1.2 );
    }

}



.navegador_y_logo{

    position: relative;
    overflow: hidden;

    width: 100%;

    background-image: linear-gradient( to left, $colorPrincipal, rgba(0, 255, 255, 0.05 ) ) ;

    .nav-itemInicio{        
        @include itemsNav();
    }
    .nav-itemNosotros{        
        @include itemsNav();
    }
    .nav-itemProductos{
        @include itemsNav();
    }
    .nav-itemServicios{
        @include itemsNav();
    }
    .nav-itemEventosYCapacitaciones{
        @include itemsNav();
        //con el scale en 1.2, en la page de contocto Eventos y Capacitaciones, el item se sale del header
        &:hover{
            transform: scale( 1.15, 1.15 );
        }
    }
    .nav-itemContacto{
        @include itemsNav();
    }
    .nav-itemCarrito{
        @include itemsNav();
    }

}






